@model List<DomainModel.DomainModel.User>

<h2>Drivers</h2>

@if (Model != null)
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                <td>@driver.Id</td>
                <td>@driver.FirstName</td>
                <td>@driver.LastName</td>
                <td>@driver.UserName</td>
            </tr>
        }
        </tbody>
    </table>
}